CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_ARCH_ARM=y
CT_ARCH_ARM_INTERWORKING=y
CT_TARGET_VENDOR="zephyr"
CT_TARGET_CFLAGS="-ftls-model=local-exec"
CT_MULTILIB=y
CT_CC_GCC_MULTILIB_LIST="@t-m4f-m33f"
CT_LIBC_NEWLIB_NANO_TARGET_CFLAGS="-mthumb-interwork"
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array --enable-threads=posix --disable-libstdcxx-dual-abi --with-default-libstdcxx-abi=new --enable-libstdcxx-static-eh-pool --with-libstdcxx-eh-pool-obj-count=0"
